<div class="container_12">
	<div class="grid_12">
		<div class="listing_products_no_sidebar">
			<div class="woocommerce-notices-wrapper"/>
			<ul class="products columns-4">
				{% for img in site.data.images %}
				{% for gal in img.galleries %}
				{% if gal == page.gallery %}
				<li class="product_item product type-product status-publish first instock product_cat-metamorphosis product_cat-mixed-media product_cat-painting product_cat-watercolor has-post-thumbnail taxable shipping-taxable product-type-simple">
					<a href="/assets/images/{{ img.link-full }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
						<img width="300" height="300" src="/assets/images/{{ img.link-full }}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt=""/>
					</a>
					<h3 class="product-title">
						<a href="/assets/images/{{ img.link-full }}">{{ img.title }}</a>
					</h3>
					<!--.product_item_inner-->
				</li>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>