<div class="global_content_wrapper">
    <div class="content_contact_wrapper" style="margin-bottom:100px; ">
        <div class="entry-title" style="text-align:center;">
			<ul >
				{% for img in site.data.images %}
				{% for gal in img.galleries %}
				{% if gal == page.gallery %}
				<li >
					<a href="/maneis_webseite/assets/images/{{ img.link-full }}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
						<img src="/maneis_webseite/assets/images/{{ img.link-full }}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt=""/>
					</a>
					<h3 class="product-title">
						<a href="/maneis_webseite/assets/images/{{ img.link-full }}">{{ img.title }}</a>
					</h3>
					<!--.product_item_inner-->
				</li>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>